@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* @apply bg-gradient-to-t from-[#0C1222] to-[#0D253D];  */
  @apply bg-gradient-to-t from-[#0C1222] to-[#102f4d]; 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Ensures full viewport coverage */
  background-color: var(--background); /* Fallback for non-gradient-supporting browsers */
}

